<p>Enjoy programming!</p>
<%= link_to "新規投稿ページへ", new_tweet_path %>

<h1>GeekTwitter</h1>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>

<h3>Tweet一覧</h3>

<h3>投稿を検索</h3>
<%= form_tag({controller:"tweets", action:"index"}, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索する' %>
<% end %>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <% if t.image.attached? %>
        <%= image_tag t.image, size: '250x200'%>
      <% end %>
      <p>
        <%= t.name %> / 
        <%= t.price %> / 
        <%= t.review %> / 
        <%= t.comment %>
      </p>
      <p><%= t.created_at %></p>
      
      <%= link_to "詳細へ", tweet_path(t.id) %>
      <%= link_to "編集する", edit_tweet_path(t.id) %>
      <%= link_to "削除する", tweet_path(t.id), data: { turbo_method: :delete } %>
    </div>
  <% end %>
</div>

<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>グローブ診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <body>
        <header>
            <h1 class="headline">
            <a>Tweet</a>
            </h1>
            <ul class="nav-list">
                <li class="nav-list-item">about 重視すること</li>
                <li class="nav-list-item"><%= link_to "診断", tweets_path, class: "link" %></li>
            </ul>
        </header>

        <div class="start">
            <h6>Are you ready?</h6>
            <%= link_to "診断を始める", new_tweet_path, class: "link" %>
        </div>
    </body>


    <%= stylesheet_link_tag 'index', :media => "all" %>

<div class="tweets-container">
<h3>Tweet一覧</h3>
  <% @tweets.each do |t| %>
    <div class="tweet">
      <div class="main-box">
        <div class="left-container"><%= t.comment %></div>
        <div class="right-container">
          <%= link_to "詳細", tweet_path(t.id) %>
          <%= link_to "編集", edit_tweet_path(t.id) %>
          <%= link_to "削除", tweet_path(t.id), method: :delete %>
        </div>
      </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>